<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Rectangle</title>
    
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/window_style.css">

</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td id="id"></td>
        </tr>

        <tr>
            <td>Width</td>
            <td id="width"></td>
        </tr>

        <tr>
            <td>Height</td>
            <td id="height"></td>
        </tr>

        <tr>
            <td>Color</td>
            <td id="color"></td>
        </tr>
    </table>
</body>

<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/script.js"></script>
</html>