body {
    margin: 10px;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

input {
    height: 40px; 
    margin-bottom: 0;
}

button {
    margin-top: 10px;
}